    body {
      background: #222;
      background: linear-gradient(rgba(-3, -3, -3, -3), rgba(-3, -3, -3, -3)), url('https://www.wallpapertip.com/wmimgs/41-410556_purple-wallpaper-4k-gaming.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .presentation {
      margin-right: 19px;
      font-family: Verdana, sans-serif;
      color: rgb(90, 53, 84)
    }

    .container {
      background: rgb(255, 255, 255);
      padding: 20px 25px;
      border: 10px solid #bf44f0;
      width: 550px;
      height: auto;
      box-sizing: border-box;
      position: relative;
    }

    .col.s6>.btn {
      width: 100%;
    }

    .gender-male,
    .gender-female {
      display: inline-block;
    }

    .gender-female {
      margin-left: 35px;
    }

    radio:required {
      border-color: red;
    }

    .container {
      animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
    }

    @keyframes showUp {
      0% {
        transform: scale(0);
      }

      100% {
        transoform: scale(1);
      }
    }

    .row {
      margin-bottom: 10px;
    }

    .ngl {
      position: absolute;
      top: -20px;
      right: -20px;
    }